* {
    margin: 0px;
    padding: 0px;
}

body {
    background: linear-gradient(126deg, rgb(175, 138, 19) 10%, #ce2323 60%, #cb36b5 90%);
    background-repeat:no-repeat;
    height: 100vh;
}

h1{
    text-align: center;
    padding: 20px;
}
.top {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    padding: 20px;
    box-shadow: 0 10px 40px rgb(200, 2, 254);
    color:darkorchid;
    background-color:#05204a;
    border-radius: 8px;
}

.todo-list {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

input{
    font-size: 22px;
    width: 90%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    background: rgb(208, 174, 240);
    padding: 11px;
}

.btn {
    background-color: rgb(114, 201, 47);
    border-radius: 5px;
    border: none;
    margin: 5px;
    padding: 8px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.btn1 {
    background-color: rgb(81, 170, 12);
    border-radius: 5px;
    border: none;
    padding: 7px;
    margin: 5px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    float: right;
}

.btn2 {
    background-color:rgb(255, 196, 0);
    border-radius: 5px;
    border: none;
    padding: 7px;
    margin: 5px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    float: right;
}

.btn3 {
    background-color:#f13d1e;
    border-radius: 5px;
    border: none;
    padding: 7px;
    margin: 5px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    float: right;
}

h3 {
    text-align: center;
    padding: 10px;
    font-size: 30px;
}

ul {
    list-style: none;
}

.bottom{
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    padding-bottom: 30px;
    box-shadow: 0 10px 40px rgb(122, 21, 144);
    background-color:rgb(35, 134, 180);
    border-radius: 8px;
    float: right;
}

.delete-btn {
    background-color:#f13d1e;
    border-radius: 5px;
    border: none;
    padding: 7px;
    margin-right: 35px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    float: right;
}
