* {
    margin: 0px;
    padding: 0px;
}

body {
    background: linear-gradient(126deg, rgb(175, 138, 19) 10%, #ce2323 60%, #cb36b5 90%);
    background-repeat:no-repeat;
    height: 100vh;
}

h1{
    text-align: center;
    padding: 20px;
}
.top {
    width: 30%;
    margin: auto;
    padding: 30px;
    padding-bottom: 40px;
    box-shadow: 0 10px 40px #e8ef1b;
    color:darkorchid;
    background-color:#05204a;
    border-radius: 12px;
    position: relative;
}

.input {
    display: flex;
    justify-content: center;

    align-items:center;
    flex-direction: column;
    height: 100vh;

}

input {
    font-size: 30px;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    background: rgb(208, 174, 240);
    padding: 8px;
}

.btn {
    background-color: #72c92f;
    border-radius: 5px;
    border: none;
    margin: 0 5px;
    padding:  1px 8px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.btn1 {
    background-color: #72c92f;
    border-radius: 5px;
    border: none;
    padding: 7px;
    margin: 0px 5px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    float: right;
}

.btn2 {
    background-color:#ffc400;
    border-radius: 5px;
    border: none;
    padding: 7px;
    margin: 0px 5px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    float: right;
}

.btn3 {
    background-color:#f13d1e;
    border-radius: 5px;
    border: none;
    padding: 7px;
    margin: 0px 5px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    float: right;
}

.notcomplete {
    margin: 10px 15;
    
}

h3 {
    text-align: center;
    padding: 10px;
    font-size: 30px;
}

ul {
    list-style: none;
}

li {
    background-color: antiquewhite;
    width: auto;
    padding: 10px 0;
    margin: auto;
    font-size: 30px;
    border-radius: 12px;
    list-style: none;
    border: 1px solid white;
}

.bottom{
    width: 30%;
    margin: auto;
    padding: 30px ;
    padding-bottom: 40px;
    box-shadow: 0 10px 40px rgb(122, 21, 144);
    background-color:#544ddf;
    border-radius: 12px;
    position: relative;
    
}


}

#tbody{
    display: flex;
    flex-direction: column;
    width: 20em;
}


/* *{
    margin: 0;
    padding: 0;
}

.top {
    width: 40%;
    position: relative;
    padding: 10px;
    margin: 20px 0;
    box-shadow: 0 10px 40px rgb(89, 15, 110);
    color:darkorchid;
    background-color:#f3504e;
    border-radius: 8px;

}

.todo-list{
    width: 100%;
    display: flex;
    padding: 20px 0;
}

input{
    font-size: 22px;
    width: 90%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    background: rgb(208, 174, 240);
    padding: 11px;
}

.btn {
    background-color:rgb(165, 180, 180);
    border-radius: 5px;
    border: none;
    padding: 7px;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

h3{
    text-align: center;
    padding: 10px 0;
    font-size: 30px;
}

.bottom{
    width: 40%;
    position: relative;
    padding: 10px;
    margin: 20px 0;
    box-shadow: 0 10px 40px rgb(122, 21, 144);
    background-color:rgb(35, 134, 180);
    border-radius: 8px;
} */

.delete-btn {
    background-color:#f13d1e;
    border-radius: 5px;
    border: none;
    margin: 0px 5px;
    padding: 7px;
    color: #000000;
    cursor: pointer;
    float: right;
}
