<main>
    <div class="project">
        <h2 class="title">To Do Lists</h2>
    <form #todoListForm>
    <div class="todo">

        <div class="space">
            <!-- <label for="title">title2: </label> -->
            <input [(ngModel)]="title" id="title" name="title" class="add-todo" type="text"  placeholder="Enter to-do">
            <!-- <button class="add-list" (click)="addToList()">Add</button> -->
        </div>
        
        <!-- <div> -->

            <!-- Make ngif that will make the table appear -->
            <ng-container *ngIf="list.length >= 1">
                <ng-container *ngFor="let item of list">
                <table>
                    <tbody id="tbody">
                        <td style="width: 50%;">{{item.title}}</td>
                        <td><button id="edit">Edit</button>
                            <button (click)="deleteFromList(item)">Delete</button>
                            <button (click)="finishItem(item)" >Complete</button></td>
                    </tbody>
                </table>
            </ng-container>
            </ng-container>

            <!-- <table>
                <tbody id="tbody">
                    <td style="width: 50%;">Watch movie</td>
                    <td><button id="edit">Edit</button>
                        <button >Delete</button>
                        <button >Complete</button></td>
                    
                    <td style="width: 50%;">Watch movie</td>
                    <td><button id="edit">Edit</button>
                        <button >Delete</button>
                        <button >Complete</button></td>
                </tbody>
            </table> -->
        <!-- </div> -->
    </div>
    </form>
    </div>
</main>

<app-form (sendItemToList)= "addToList($event)">


</app-form>
<!-- <body>
    
    <div class="top">
        <div class="todo-list">
            <input type="text" placeholder="Add a list">
            <button class="btn"><i class="material-icons">add_box</i></button>
        </div>

        <ul class="Incomplete">
            <h3>To Do Lists</h3>
            <li>
                <button class="btn"><i class="material-icons">create</i></button>
                <button class="btn"><i class="material-icons">delete</i></button>
            </li>
        </ul>
    </div>

    <div class="bottom">
        <ul class="complete">
            <h3>Complete Lists</h3>
            <li>
                <button class="delete-btn"><i class="material-icons">delete</i></button>
            </li>
        </ul>
    </div>

</body> -->