* {
    margin: 0px;
    padding: 0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

body{
    /* display: grid;
    margin: 0;
    grid-template-columns: 50% 50%; */
    height: 100%; 
}

#section-body{
    display: grid;
    margin: 0;
    grid-template-columns: 50% 50%;
    height: 100%;
}

#to-do-component {
    grid-column: 1/2;
}

#finished-component {
    grid-column: 2/3;
}