* {
    margin: 0px;
    padding: 0px;
}

body{
    background: linear-gradient(126deg, #af8a13 10%, #ce2323 60%, #cb36b5 90%);
    background-repeat:no-repeat;
}

#to-do-component {
    grid-column: 1/2;
}

#finished-component {
    grid-column: 2/3;
}

/* LISTS */

.project {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    height: 50vh;
}

h2 {
    font-size: 50px;
    font-weight: 200px;
    color: black;
    letter-spacing: 4px;
}

.todo {
    padding: 30px;
    box-shadow: 0px 10px 40px #4b09a7;
    border-radius: 10px;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 90%;
    width: 35em;
}

.space {
    width: fit-content;
}

.add-todo {
    font-size: 30px;
    border: none;
    border-radius: 10px;
    cursor: text;
    background-color: #c5842e;
}

.table{
    grid-column: 1/4;
    grid-row: 2/3;
}

.add-list {
    cursor: pointer;
    border: none;
    border-radius: 7px;
    background-color:antiquewhite;
}

.delete {
    border: none;
    background-color: rgb(0, 0, 0);

}

.btn {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: #72c92f;
    border-radius: 5px;
    border: none;
    margin: 0 5px;
    padding:  1px 8px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    width: fit-content;
}

.btn1 {
    background-color: #72c92f;
    border-radius: 5px;
    border: none;
    padding: 7px;
    margin: 0px 5px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    float: right;
    width: 40px;
}
.btn2 {
    background-color:#ffc400;
    border-radius: 5px;
    border: none;
    padding: 7px;
    margin: 0px 5px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    float: right;
}

.icon{
    object-fit: cover;
    width: 24px;
}

.btn3 {
    background-color:#f13d1e;
    border-radius: 5px;
    border: none;
    padding: 7px;
    margin: 0px 5px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    float: right;
}

.notcomplete {
    margin: 10px 15;
}

h3 {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    padding: 10px;
    font-size: 30px;
}

h5{
    color: red;
}

ul {
    list-style: none;
    justify-content: center;
    align-items: center;
    grid-row: 2/3;
    grid-column: 1/4;
}

li {
    background-color: antiquewhite;
    width: auto;
    padding: 10px 0;
    margin: auto;
    font-size: 30px;
    border-radius: 12px;
    list-style: none;
    border: 1px solid white;
}

#tbody{
    display: flex;
    flex-direction: column;
    width: 20em;
}

/* FORM */
.form-container-shown{
    display: block;
    /* position: fixed; */
    top: 18em;
    /* left: 15em; */
    margin: auto;
    z-index: 1;

}

.form-container-hidden{
    display: none;
}



.bottom{
    width: 30%;
    margin: auto;
    padding: 30px ;
    padding-bottom: 40px;
    box-shadow: 0 10px 40px rgb(122, 21, 144);
    background-color:#544ddf;
    border-radius: 12px;
    position: relative;
    
}

.delete-btn {
    background-color:#f13d1e;
    border-radius: 5px;
    border: none;
    margin: 0px 5px;
    padding: 7px;
    color: #000000;
    cursor: pointer;
    float: right;
}
