<main>
    <div class="project">
        <h2 class="title">Finished List</h2>
    <div class="todo">

        <div class="space">
            <input class="add-todo" type="Add To Finished List"  placeholder="Enter to-do">
            <button class="add-list">Add</button>
        </div>
        
        <div>
            <table>
                <tbody id="tbody">
                    <td style="width: 49%;">Watch movie</td>
                    <td><button id="edit">Edit</button>
                        <button >Delete</button>
                        <button >Complete</button></td>
                </tbody>
            </table>
        </div>
    </div>
    </div>
</main>