<main>
    <div class="project">
        <h2>Finished Lists</h2>
    <form #todoListForm>
    <div class="todo">

        <div class="space">

            <input [(ngModel)]="title" id="title" name="title" class="add-todo" type="text"  placeholder="Enter to-do">

        </div>

            <!-- Make ngif that will make the table appear -->
            <ng-container *ngIf="finishedList.length >= 1">
                <ng-container *ngFor="let item of finishedList">
                <table>
                    <tbody id="tbody">
                        <td>{{item.title}}</td>
                        <td><button id="edit">Edit</button>
                            <button (click)="deleteFromList(item)">Delete</button>
                            <button (click)="finishItem($event)" >Complete</button></td>
                    </tbody>
                </table>
            </ng-container>
            </ng-container>
    </div>
    </form>
    </div>
</main>

<app-form (sendItemToList)= "addToList($event)">


</app-form>
